@charset "utf-8";
/* CSS Document */


/*  

>>>>  TABLE OF CONTENT  <<<<

1. General Layout - All Pages
	1.1 General Layout/Structure 
	1.2 General text/fonts and images
	1.3 Footer links
	1.4 Back-To-The-Top Button 
	1.5 Animated (Rotating) Logo (appears on index page only
	1.6 Animated Marque (Sliding)
	1.7 Drop-Down Menu (Navigation Bar)
2. Design Page 
	2.1 ImageMap
	2.2 Pop-up Thumb-nails
	2.3 Individual house layout
	2.4 "Exploded" views of architectural drawings
3. Process Page
	3.1 Slideshow
	3.2 Tabbed textbox
4 Contact Page
	4.1 Contact details layout
	4.2 Social Media Links
	4.3 GoogleMaps
5. SiteMap Page\

*/


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
			1. GENERAL LAYOUT
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ==========================================================
	1.1 This section configures the general layout of the majority of the pages 
=========================================================== */

body {
	margin-top: 0;
	margin-bottom: 0;
	background-color:#fff ;
}

#wrapper {
	width: 800px;
	height: 998px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	/*height: auto;*/
	font-family: Verdana, Arial, helvetica;
}

#leftHeader {
	width: 396px;
	height: 140px;
	float: left;
	background-color: #f6f6f6;
	margin-right: 4px;
	margin-bottom: 8px;
	padding: 0;
	background-image: url(../images/logo/logo_390x140.png);
	background-repeat: no-repeat;
	background-size: 390px 140px;
	background-position: center;
}
#leftHeaderSpinnerMon{
	width: 396px;
	height: 140px;
	float: left;
	background-color: #f6f6f6;
	margin-right: 4px;
	margin-bottom: 8px;
	padding: 0;
}
#leftHeaderSpinnerTab{
	display: none;
	width: 396px;
	height: 140px;
	float: left;
	background-color: #f6f6f6;
	margin-right: 4px;
	margin-bottom: 8px;
	padding: 0;
}
#leftHeaderSpinnerMobile{
	display:none;
	width: 396px;
	height: 140px;
	float: left;
	background-color: #f6f6f6;
	margin-right: 4px;
	margin-bottom: 8px;
	padding: 0;
}
#rightHeader {
	width: 306px;
	height: 128px;
	margin-left: 4px;
	margin-bottom: 8px;
	float: right;
	background-color: #f6f6f6;
	background-size: 305px 128px;
	padding-top: 12px;
	padding-left: 90px;
}

/* ==== NOTE: Navigation is configured further down ====== */

#main {
	width: 580px;
	max-height: 800px;
	min-height: 800px;
	background-color: #f6f6f6;
	float: left;
	margin-right: 5px;
	margin-top: 8px;
	margin-bottom: 10px;
	padding: 10px;
	overflow-y: scroll;
	overflow-x: no-display;
}

#sidebar {
	width: 180px;
	height:800px;
	background-color: #f6f6f6;
	float: right;
	margin-left: 5px;
	margin-top: 8px;
	margin-bottom: 10px;
	padding: 10px 5px;
}

#sidebar_process_page {
	width: 180px;
	height:800px;
	background-color: #f6f6f6;
	float: left;
	margin-left: 5px;
	margin-top: 8px;
	margin-bottom: 10px;
	padding: 10px 5px;
}
#footer {
	width: 800px;
	clear: both;
	background-color: #f6f6f6;
	font-size:10px;
	margin-top: 10px;
	padding: 5px;
	text-align: center;
}

	
	

/* ==================================================
	1.2 This section configures all general texts/fonts and images thoughout the site
=====================================================*/
p {
	text-align: left;
	font-size: 12pt;
	font-family:Verdana, Arial, helvetica, san serif;
	color: #000000;
}

.h1 {
	text-align: left;
	font-size: 24pt;
	font-weight: 800;
	text-decoration: underline;
	letter-spacing: -2px;
	color: #b40c00;
}
.h2 {
	text-align: left;
	font-size: 20pt;
	font-weight: 700;
	color: #b40c00;
}

.h3 {
	text-align: left;
	font-size: 16pt;
	font-weight: 600;
	color: #e86600;
}
.h4 {
	font-size: 10pt;
}
.h5 {
	text-align: left;
	font-size: 16pt;
	font-weight: 600;
	color: #000000;
}
.c2 {
	text-align: center;
}

pquestions {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 17px;
	font-weight: 800;
	font-style: italic;
	/*text-indent: 50px;*/
}
.faqquestions {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 17px;
	font-weight: 800;
	font-style: italic;
	color: #e86600;
}
.statement {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 500;
	font-style: italic;
	text-align: justify;
}
.txtindent {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 500;
	padding-left: 30px;
	text-align: justify;
}
.cl {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 500;
	color: #e86600;
}
.clbold {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 600;
	color: #e86600;
}
.bo {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 700;
}


/* Indents and justifies unordered-list for Value Statements */

ul.valu_ullist {
	margin-left: 40px;
	margin-bottom: 45px;
	list-style-position: outside;
	text-align: justify;
	
}
li.valu_lilist {
    margin-top: 10px;
	margin-right: 30px;
	color: #000;
}
ul.process {
	color: #e86600;
}
ol.process {
	color: #e86600;
}

ul.sitemap {
	line-height: 20px;
}




/* Formats heading (as per logo) in side bar*/
.t_black {
	color: #000000;
	font-size:20px;
}
.t_tan {
	color: #b40c00;
	font-size: 22px;
}


/* Centres images/logos in sidebar */
img.center {
	display: block;
	margin: 10px auto ;
	width: 119px;
	height: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}
img.center2 {
	display: block;
margin: 10px auto ;
	width: 300px;
	height: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

img.large {
	display: block;
	margin: 10px auto ;
	width: 92%;
	height: auto;
	border-style: solid;
}
img.plan {
	width: 100%;
	float: left;
	margin-right: 10px;	
	margin-top: 15px;
}

/* Formats and positions spacer image in main & sidebar */
img.textspacer1 {
	display: block;
	margin: 5px auto ;
	width: 50%;
	height: auto;
}
img.sidespacer {
	display: block;
	margin: 20px auto ;
	width: 100px;
	height: 6px;
}

.loader_gif {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 17%;
}


/* Positions images - left & right justified - in main */
.img_left {
	float: left;
	width: 40%;
	height: auto;
	margin-top: 15px;
	margin-right: 15px;
}
.img_right {
	float: right;
	width: 40%;
	height: auto;
	margin-left: 15px;
}

.back2top {
	width: 17%;
	height: auto;
	float:right;
	margin-top:-15px;
}


/* ==============================================
	1.3 This section configures the links in the footer 
================================================ */


a.class2:link {
	color: #000000;	
	background-color: transparent;
    text-decoration: none;
}
a.class2:visited {
	color: #e86600;
    background-color: transparent;
    text-decoration: none;
}
a.class2:hover {
	color: #b40c00;
    background-color: transparent;
    text-decoration: underline;
}
a.class2:active {
	color: #b40c00;
    background-color: transparent;
    text-decoration: underline;
}



/* ==============================================
	1.4 This section configures the Back-To-The-Top Button 
================================================ */

.hvr-pulse {
	/*width: 17%;
	height: auto;*/
	float:right;
	margin-top: -15px;
	margin-bottom: 15px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);-ms-transform: translateZ(0) ;-moz-transform: translateZ(0);-o-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse-grow; -moz-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 1s;-moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;-moz-animation--duration: 1s;-moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;-moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}




/* ==============================================
	1.5 This section configures the ANIMATED LOGO on index page 
================================================ */

.img_logo {
	width: 395px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
}

  #stage {
    margin: 1em auto;
    -webkit-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
  }
  
  .spinner {
    -webkit-animation-name: spinner;-moz-animation-name: spinner;
    -webkit-animation-timing-function: linear;-moz-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;-moz-animation-iteration-count: 1;
    -webkit-animation-duration: 8s;-moz-animation-duration: 8s;
	animation-name: spinner;

	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-duration: 8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .spinner:hover {
    -webkit-animation-play-state: paused;-moz-animation-play-state: paused;
    animation-play-state: paused;
  }
  
  /* WebKit and Opera browsers */
  @-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg); transform: rotateY(0deg);   }
    to   { -webkit-transform: rotateY(-360deg);transform: rotateY(-360deg); }
  }

  /* all other browsers */
  @keyframes spinner {
    from {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(-360deg);
              transform: rotateY(-360deg);
    }
  }




/* ==============================================
 	1.6 This section is for the ANIMATES MARQUE throughout all page   
====================================================  */
.marquee {
	width: 96%;
	height: 100px;
	margin: 5px 2%;
	overflow: hidden;
	position: relative;
    text-shadow: 0 2px 2px  rgba(0, 0, 0, .5), 0 1px 0  rgba(250, 250, 250, .2);
	-webkit-transition: background-color 350ms; -moz-transition: background-color 350ms; -o-transition: background-color 350ms;
    transition: background-color 350ms;
}

.marquee p.lg_marquee {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;

	margin: 0;
	line-height: 50px;

	text-align: left;
	
	font-size: 36px;
	font-weight: 800;
	letter-spacing: -2px;
	color: #b40c00;
	
	-moz-transform:translateX(100%);-ms-transform:translateX(100%); -o-transform:translateX(100%);
	-webkit-transform:translateX(100%);
	transform:translateX(100%); -o-transition:translateX(100%);-moz-transition:translateX(100%);
	-webkit-transition: width 2s, height 2s, -webkit-transform 4s; /* Safari */
    transition: transform 4s;
}

.marquee p.sm_marquee {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 140px;
	text-align: right;
	
	font-size: 22px;
	font-weight: 800;
	letter-spacing: -2px;
	color: #b40c00;
	
	-moz-transform:translateX(100%); -ms-transform:translateX(100%); -o-transform:translateX(100%);
	-webkit-transform:translateX(100%);
	transform:translateX(100%);
}
.marquee p:nth-child(1) {
	animation: left-one 8s ease 1 ;
	-moz-animation: left-one 8s ease 1;
	-webkit-animation: left-one 8s ease 1;
}
.marquee p:nth-child(2) {
	animation: left-two 8s ease 1;
	-moz-animation: left-two 8s ease 1;
	-webkit-animation: left-two 8s ease 1;
}

.marquee p:nth-child(1) { 
    -ms-transform: translate(0); -moz-transform: translate(0); -o-transform: translate(0);  /* IE 9 *//* IE 9 */
    -webkit-transform: translate(0); /* Safari */
    transform: translate(0);
}
.marquee p:nth-child(2) { 
	-ms-transform: translate(0); -o-transform: translate(0); /* IE 9 */
   	-webkit-transform: translate(0); -moz-transform: translate(0);   /* Safari */
   transform: translate(0);
}




/*-----------------------------------
	Move the Marquee to the Left
---------------------------------------*/
@keyframes left-one {
    0% 	{        -webkit-transform:translateX(0);        -moz-transform:translateX(0);  transform:translateX(0);        	}
    50% {        -webkit-transform:translateX(0);        -moz-transform:translateX(0);transform:translateX(0);    	 }
	60% {        -webkit-transform:translateX(-100%);    -moz-transform:translateX(-100%);    transform:translateX(-100%);   }
	90% {        -webkit-transform:translateX(-100%);    -moz-transform:translateX(-100%);    transform:translateX(-100%);     }
    100%{        -webkit-transform:translateX(0);        -moz-transform:translateX(0); transform:translateX(0);     	}
}
@keyframes left-two {
    0% {        -webkit-transform:translateX(100%);      -moz-transform:translateX(100%);  transform:translateX(100%);       	}
    50% {        -webkit-transform:translateX(100%);     -moz-transform:translateX(100%);  transform:translateX(100%);   	}
    60% {        -webkit-transform:translateX(0);        -moz-transform:translateX(0);   transform:translateX(0);     }
    100%{        -webkit-transform:translateX(0);        -moz-transform:translateX(0);   transform:translateX(0);   }
}

/** Mozilla Firefox Keyframes **/

/** Webkit Keyframes **/
@-webkit-keyframes left-one {
    0%  {        -webkit-transform:translateX(0);   transform:translateX(0); }
    50% {        -webkit-transform:translateX(0);   transform:translateX(0);	 }
	60% {        -webkit-transform:translateX(-100%); transform:translateX(-100%);   }
	90% {        -webkit-transform:translateX(-100%);  transform:translateX(-100%);  }
    100%{        -webkit-transform:translateX(0);   transform:translateX(0)	}
}
@-webkit-keyframes left-two {
    0% {        -webkit-transform:translateX(100%);  transform:translateX(100%);  }
    50% {        -webkit-transform:translateX(100%);  transform:translateX(100%); }
    60% {        -webkit-transform:translateX(0);  transform:translateX(0);    }
    100%{        -webkit-transform:translateX(0);  transform:translateX(0); }
}





/* ==============================================
 	1.7 This section is for the DROP-DOWN-MENU (Navigation Bar) throughout all page   
====================================================  */


/*
#container {
  margin: 0 auto;
  max-width: 890px;
}

p {  }*/
 .toggle, [id^=drop] {
 display: none;
}

nav {
  width: 100%;
  height: 35px;
  margin: 0;
  padding: 0;
  background-color: #b40c00;
  float: left;
  clear: both;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  float: right;
  padding: 0;
  margin: 5px 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0;
  display: inline-block;
  float: left;
  background-color: #b40c00;
}

nav a {
  display: block;
  padding: 0 12px;
  color: #FFF;
  font-size: 16px;
  /*line-height: 60px;*/
  text-decoration: none;
  
}

nav ul li ul li:hover { background: #000000; }

nav a:hover { background-color: #000000; }

nav ul ul {
  display: none;
  position: absolute;
  top: 20px;
  z-index: 20;
  
}

nav ul li:hover > ul { 
  display: inherit; 
  
}

nav ul ul li {
  width: 170px;
  padding: 5px;
  float: none;
  display: list-item;
  position: relative;
  
}
						/* #e86600 */
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

li > a:after { content: ' +'; }

li > a:only-child:after { content: ''; }


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
					 2. DESIGN PAGE 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* ======================================================
 	2.1 This section is for the ImageMap in the "designs" page   
======================================================  */

.main-content-area{
background-color:#f6f6f6;
/*min-height: 200px;*/
width:96%;
margin: 0 2% 1% 2%;
position: relative;
}
.main-content-area img{
width: 100%;
height: auto;
}

img.shed {
position: relative;
}

/*  span.iIMText */


i.inclusions_tank {
color: yellow;
font-size: 50px;
position: absolute;
top: 50%;
left: 64%;
cursor: pointer;
}

i.inclusions_tank span.iIMText {
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 250%;
padding: 12px;
-webkit-transition: opacity 1s linear, left 1s linear; -moz-transition: opacity 1s linear, left 1s linear;  -o-transition: opacity 1s linear, left 1s linear;
transition: opacity 1s linear, left 1s linear;
}

i.inclusions_tank:hover span.iIMText {
opacity: 1;
top: -50px;
left:-45px;
}



i.landscaping {
color: yellow;
font-size: 50px;
position: absolute;
top: 78%;
left: 8%;
cursor: pointer;
}

i.landscaping span.iIMText {
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 280%;
padding: 8px;
-webkit-transition: opacity 1s linear, left 1s linear; -moz-transition: opacity 1s linear, left 1s linear;  -o-transition: opacity 1s linear, left 1s linear;
transition: opacity 1s linear, left 1s linear;
}

i.landscaping:hover span.iIMText {
opacity: 1;
top: -72px;
left:-42px;
z-index: 5;
}



i.products_fridge {
color: yellow;
font-size: 50px;
position: absolute;
top: 67%;
left: 36%;
cursor: pointer;
}

i.products_fridge span.iIMText {
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 250%;
padding: 12px;
-webkit-transition: opacity 1s linear, left 1s linear; -moz-transition: opacity 1s linear, left 1s linear;  -o-transition: opacity 1s linear, left 1s linear;
transition: opacity 1s linear, left 1s linear;
}

i.products_fridge:hover span.iIMText {
opacity: 1;
top: -56px;
left:-30px;
}



i.fixtures_door {
color: yellow;
font-size: 50px;
position: absolute;
top: 61%;
left: 24%;
cursor: pointer;
}

i.fixtures_door span.iIMText {
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 250%;
padding: 12px;
-webkit-transition: opacity 1s linear, left 1s linear; -moz-transition: opacity 1s linear, left 1s linear;  -o-transition: opacity 1s linear, left 1s linear;
transition: opacity 1s linear, left 1s linear;
}

i.fixtures_door:hover span.iIMText {
opacity: 1;
top: -98px;
left:-45px;
}



i.features_fireplace {
color: yellow;
font-size: 50px;
position: absolute;
top: 40%;
left: 87%;
cursor: pointer;
}

i.features_fireplace span.iIMText {
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 250%;
padding: 12px;
-webkit-transition: opacity 1s linear, left 1s linear; -moz-transition: opacity 1s linear, left 1s linear; -o-transition: opacity 1s linear, left 1s linear;
transition: opacity 1s linear, left 1s linear;
}

i.features_fireplace:hover span.iIMText {
opacity: 1;
top: -50px;
left:-65px;
}



/* ====================================================
 	2.2 This section is for the pop-up enlarged views of the thumb-nails in the "designs" page   
=================================================== */
 
 #design_thumbs {
	width: 95%;
	/*height: auto;*/
	margin-right: auto;
	margin-left: auto;
}

/* The following script was sourced from http://cssdemos.tupence.co.uk/image-popup.htm  */

	ul.enlarge {
		list-style-type:none; /*remove the bullet point*/
		margin-left:40px;
		text-align: center;
    }
    ul.enlarge li {
		display:inline-block; /*places the images in a line*/
		font-size: 11px;
		text-align: center;
		position: relative;
		z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
    	margin:10px 25px 2px -15px; /*margin:10px 40px 0 20px;*/
    }
    ul.enlarge img {
		background-color:#eae9d4;
		padding: 6px;
		box-shadow: 0 0 6px rgba(132, 132, 132, .75);
		border-radius: 4px;
    }
	
	ul.enlarge img.sm {
		display:inline-block;
		width: 131px;
		height: auto;
	}
	ul.enlarge img.lg {
		display:inline-block;
		width: 520px;
		height: auto;
	}
	ul.enlarge img.sm:hover{
		opacity: 0.4;
		filter: alpha(opacity=40); /* For IE8 and earlier */
	}
	
    ul.enlarge span {
		position:absolute;
		left: -9999px;
		background-color:#eae9d4;
		padding: 10px;
		font-family: 'Droid Sans', sans-serif;
		font-size:.9em;
		text-align: center;
		color: #495a62;
		box-shadow: 0 0 20px rgba(0,0,0, .75);
		border-radius:8px;
    }
    ul.enlarge li:hover {
		z-index: 50;
		cursor:pointer;
    }
    ul.enlarge span img {
		padding:2px;
		background:#ccc;
		
    }
    ul.enlarge li:hover span {
		top: -240px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
		left: -41px; /*distance from the left of the thumbnail to the left of the popup image*/
    }
    ul.enlarge li:hover:nth-child(2) span{
    	left: -199px;
    }
    ul.enlarge li:hover:nth-child(3) span{
    	left: -358px;
    }
    ul.enlarge li:hover:nth-child(4) span{
		top: -372px;
    	left: -40px;
    }
    ul.enlarge li:hover:nth-child(5) span{
		top: -372px;
    	left: -199px;
    }
	ul.enlarge li:hover:nth-child(6) span{
		top: -372px;
    	left: -358px;
    }

	

/* ==============================================
	2.3 This section configures the various divs on the individual house design pages 
================================================ */
#plan {
	width: 55%;
	float: left;
	margin-right: 5px;
	margin-top: -25px;
	margin-left: 40px;
}
#dimensions {
	width: 33%;
	padding-left: 10px;
	padding-right: 10px;
	float:left;
	/*float: right;*/
}
ul.dimentions {
	list-style-type:none; /*remove the bullet point*/
	margin-left:-20px;
	text-align:right;
	/*padding-left: 22px;
	padding-right: 2px;*/
    }
#features {
	width: 45%;
	padding-left: 10px;
	float: left;
	clear:both;
}
#inclusions {
	width: 45%;
	padding-left: 10px;
	float: right;
}



/* ===================================================
	7.4 The following section is applied to the "exploded" views of architectual drawings on each individual desin page 
====================================================== */

ul.exploded{
		list-style-type:none; /*remove the bullet point*/
		margin-left:0;
    }
    ul.exploded li{
		display:inline-block; /*places the images in a line*/
		font-size: 11px;
		text-align: center;
		position: relative;
		z-index: 0; /*resets the stack order of the list items */
    	margin:20px 25px 2px -25px; /*margin:10px 40px 0 20px;*/
    }
    ul.exploded img{
		background-color:#eae9d4;
		padding: 6px;
		box-shadow: 0 0 6px rgba(132, 132, 132, .75);
		border-radius: 4px;
    }
	
	ul.exploded img.sm {
		display:inline-block;
		width: 131px;
		height: auto;
	}
	ul.exploded img.lg {
		display:inline-block;
		width: 96%;
		height: auto;
	}
	
    ul.exploded span{
		position:absolute;
		left: -9999px;
		width: 130%;
		background-color:#eae9d4;
		padding: 10px;
		font-family: 'Droid Sans', sans-serif;
		font-size:.9em;
		text-align: center;
		color: #495a62;
		box-shadow: 0 0 20px rgba(0,0,0, .75);
		border-radius:8px;
    }
    ul.exploded li:hover{
		z-index: 50;
		cursor:pointer;
    }
    ul.exploded span img{
		padding:2px;
		background:#ccc;
    }
    ul.exploded li:hover span{
		top: 1%; /*the distance from the bottom of the thumbnail to the top of the popup image*/
		left: 4%; /*distance from the left of the thumbnail to the left of the popup image*/
    }
    



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
				3. PROCESS PAGE 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* ===================================================
	3.1 The following section is applied to the Slideshow on the Process page 
====================================================== */

#slideshow1 {
	margin-top: 10px;
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	}
	
.slideholder {
	width: 90%; 
	height: 90%;
}

/* ===================================================
	3.2 The following section is applied to the Tabbed-Textbox on the Process page 
====================================================== */	


#container {
	max-height: 450px;
}

#tabs {
	width: 100%;
	height: 400px;
	margin: 20px 0;
	background: #e9e5dc;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	box-shadow: 0 0 6px #333;
	-moz-border-radius:7px;
    -webkit-border-radius:7px;	
	border-radius: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
#tab-1, #tab-2, #tab-3, #tab-4, #tab-5, #tab-6, #tab-7, #tab-8, #tab-9, #tab-10, #tab-11, #tab-12 {
	min-height: 280px;
	max-height: 280px;
	padding-top: 5px;
	overflow-y: scroll;
	overflow-x: no-display;
	border-top:solid;
	border-width: 3px;
	border-color: #000;
	font-size: 12pt;
}
#tabs ul {
	float: left;
	background: #e9e5dc;
	width: 98%;
	padding-top: 4px;
	margin-left:auto;
	margin-right:auto;
}
#tabs li {
	margin-left: 1px;
	list-style: none;
}
* html #tabs li {
	display: inline;
}
#tabs li, #tabs li a {
	float: left;
}
#tabs ul li.active {
	height: 86%;
	border-top:3px #b40c00 solid;
	background-color: #eee;
	box-shadow: 0 0 6px #000;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#tabs ul li.active a {
	color: #b40c00;
}
#tabs div {
	background-color:#e9e5dc;
	clear: both;
	padding: 15px;
	min-height: 200px;
}
#tabs div h3 {
	margin-bottom: 12px;
}
#tabs div p {
	line-height: 150%;
	font-size: 12pt;
}
#tabs div p.indents{
	line-height: 150%;
	font-size: 12pt;
	margin-left: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
}
#tabs ul li a {
	text-decoration: none;
	padding: 8px;
	color: #000;
	font-weight: bold;
	font-size: 12pt;
}
.thumbs {
	float:left;
	border:#000 solid 1px;
	margin-bottom:20px;
	margin-right:20px;
}

pre {
	font-family:inherit;
	font-size: 12pt;
	line-height: 130%;
	padding-top: 2%;
}
.line_gap {
	line-height: 12px;
}
.row1 {
	height: 35px;
	padding-left: 1%;
	padding-right: 1%;
	-moz-border-radius:7px;
    -webkit-border-radius:7px;
	border-radius:7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

}
.row2 {
	height: 35px;
	padding-left: 1%;
	padding-right: 1%;
}




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
				4. CONTACT PAGE
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* ================================================== 
	4.1 This section is for the contact details in the contact page   
===================================================== */

#contact-form {
    background-color:#e9e5dc;
    width: 496px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:20px;
	float:left;
	margin-left:10px;
    border: 3px #e86600;
	border-top-style: solid ;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#contact-form img.large {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 92%;
	height: auto;
	border-style: solid; /* IE 9 */
    -webkit-transform: skew(11deg, 5deg); /* Safari */
    transform: skew(11deg, 5deg); /* Standard syntax */
}

#contact-form h1 {
    font-size:30px;
}

.contact_form_h2 {
    margin-bottom:11px;
    font-style:italic;
    font-weight:normal;
}

.cont_box {
	width: 100%;
	height: 240px;
	margin: 0 0 -5% 1%;
}
.cont_icons {
	width: 3%;
	height: auto;
	padding: 0 2%;
	float: left;
	clear: both;
}
.cont_details {
	width: 47%;
	height: auto;
	padding-left: 3%;
	float: left;
}
.hours {
	width: 38%;
	height: auto;
	padding-left:5%;
	float: left;
}



/* ====================================================
 	4.2 This section is for the social media bar/buttons in the "contact" page   
=================================================== */
/*
@import url(http://fonts.googleapis.com/css?family=Lato);
*/

p > a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}


._12 {
  font-size: 1.2em;
}

._14 {
  font-size: 1.4em;
}

ul {
  padding: 0;
  list-style: none;
}

.fr-social-icons {
  width: 496px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom:20px;
  float:left;
  margin: 0px 10px 10px 10px;
  border: 3px #e86600;
  border-top-style: none ;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  display: block;

  background-color:#e9e5dc;
}

.social-icon {
  color: #fff;
}

ul.social-icons {
  margin-top: 10px;
}

li img{
	width: 15%;
	margin-left: 0.5%;
}

li img:hover{
	box-shadow: 2px 2px 7px #b40c00;
}

.social-icons li {
  vertical-align: top;
  display: inline;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-facebook {
  padding: 10px 14px 7px 14px;
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-twitter {
  padding: 10px 10px 7px 10px;
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-twitter:hover {
  background-color: #00aced;
  box-shadow: 2px 2px 2px red;
}

.fa-rss {
  padding: 10px 12px 7px 12px;
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-rss:hover {
  background-color: #eb8231;
}

.fa-youtube {
  padding: 10px 12px 7px 11px;
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-youtube:hover {
  background-color: #e64a41;
}

.fa-linkedin {
  padding: 10px 11px 8px 11px;
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-linkedin:hover {
  background-color: #0073a4;
  box-shadow: 2px 2px 2px red;
}

.fa-google-plus {
  padding: 10px 10px 7px 10px;
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-google-plus:hover {
  background-color: #e25714;
}



/* ====================================================
 	4.3 This section formats the GoogleMap feature in the "contact" page   
=================================================== */
.gmap {
	border-style: solid;
	border-width: 10px;
	border-color: #000000;
}

/* CSS for the GoogleMaps button */
#gmap_canvas {
	width: 496px;
	height:400px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:20px;
	float:left;
	margin: -20px 10px 10px 10px;
	z-index: 5;
	overflow:hidden;
	border: 3px #e86600;
	border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
				5. SITEMAP PAGE
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* ================================================== 
	This section is for the SiteMap   
===================================================== */

#site {
	width: 150px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	
}
li a {
	text-decoration: none;
	line-height: 150%;
}

