@charset "utf-8";
/* CSS Document */


@media (min-width: 481px) and (max-width: 801px){
	
/*  
>>>>  TABLE OF CONTENT  <<<<

1. General Layout - All Pages
	1.1 General Layout/Structure 
	1.2 General text/fonts and images
	1.3 Footer links
	1.4 Back-To-The-Top Button 
	1.5 Animated (Rotating) Logo (appears on index page only
	1.6 Drop-Down Menu (Navigation Bar)
7. Design Page 
	7.1 ImageMap
	7.2 Pop-up Thumb-nails
	7.3 Individual house layout
	7.4 "Exploded" views of architectural drawings
8. Process Page
	8.1 Slideshow
	8.2 Tabbed textbox
9 Contact Page
	9.1 Contact details layout
	9.2 GoogleMaps
10. SiteMap Page

*/




/*  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
This section configures the general layout of the majority of the pages 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#wrapper {
	width:100%;
	height: auto;
	margin-top: 10px;
	font-family: Verdana, Arial, helvetica;
	background-color:#dfdfdf;
	}

#leftHeader {
	display: none;
	width: 49.5%;
	height: 140px;
	float: left;
	background-color: #f6f6f6;
	margin-right: 0.4%;
	margin-bottom: 2px;
	padding: 0%;
	background-image: url(../images/logo/logo_390x140.png);
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
}
#leftHeaderSpinnerMon{
	display: none;
	width: 49.5%;
	height: 140px;
	float: left;
	background-color: #f6f6f6;
	margin-right: 0.4%;
	margin-bottom: 2px;
	padding: 0px;
}
#leftHeaderSpinnerTab{
	display: block;
	width: 49.5%;
	height: 140px;
	float: left;
	background-color: #f6f6f6;
	margin-right: 0.4%;
	margin-bottom: 2px;
	padding: 0px;
}
#leftHeaderSpinnerMobile{
	display: none;
	width: 90%;
	height: 140px;
	float: left;
	background-color: #f6f6f6;
	margin-right: 0.4%;
	margin-bottom: 2px;
	padding: 0px;
}
#rightHeader {
	width: 38.45%;
	height: 128px;
	margin-left: 0.4%;
	margin-bottom: 2px;
	float: right;
	background-color: #f6f6f6;
	/*background-size: 395px 140px;*/
	padding-top: 12px;
	/*padding-bottom: 8px;*/
	padding-left: 11.25%;
}

#main {
	width: 100%;
	height: auto;
	background-color: #f6f6f6;
	margin-top: 3px;
	margin-bottom: 7px;
	padding: 5px;
	overflow-y: no-display;
	overflow-x: no-display;
}

#sidebar {
	display: none;
	visibility: hidden;
}

#sidebar_process_page {
	display: none;
	visibility: hidden;
}

#footer {
	width: 100%;
	background-color: #f6f6f6;
	font-size:10px;
	margin-top: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: center;
}

/* ==================================================
This section configures all general texts/fonts and images thoughout the site
=====================================================*/
	
p {
	text-align: left;
	font-size: 11pt;
	font-family:Verdana, Arial, helvetica, san serif;
	color: #000000;
}
.h1 {
	text-align: left;
	font-style: strong;
	font-size: 18pt;
	font-weight: 700;
	text-decoration: underline;
	letter-spacing: -2px;
	color: #b40c00;
}
.h2 {
	text-align: left;
	font-size: 16pt;
	font-weight: 600;
	color: #b40c00;
}

.h3 {
	text-align: left;
	font-size: 12pt;
	font-weight: 600;
	color: #e86600;
}
.h4 {
	font-size: 8pt;
}
.h5 {
	text-align: left;
	font-size: 14pt;
	font-weight: 500;
	color: #000000;
}
.c2 {
	text-align: center;
}

p.questions {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 15px;
	font-weight: 800;
	font-style: italic;
	/*text-indent: 50px;*/
}
.faqquestions {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 15px;
	font-weight: 800;
	font-style: italic;
	color: #e86600;
}
.statement {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 11pt;
	font-weight: 500;
	font-style: italic;
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
}
.txtindent {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 11pt;
	font-weight: 500;
	padding-left: 20px;
	text-align: justify;
}
p.cl {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 11pt;
	font-weight: 500;
	color: #e86600;
}
.clbold {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 11pt;
	font-weight: 600;
	color: #e86600;
}
.bo {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 11pt;
	font-weight: 700;
}

/* Indents and justifies unordered-list for Value Statements */

ul.our_processes {
	font-size: 11pt;
}

ul.valu_ullist {
	colour: red;
	margin-left: 30px;
	margin-bottom: 30px;
	list-style-position: outside;
	text-align: justify;
}
li.valu_lilist{
    margin-top: 7px;
	margin-right: 20px;
	font-size: 14px;
}

/* Positions images - left & right justified - in main */
.img_left {
	float: left;
	width: 32%;
	height: auto;
	margin-top: 10px;
	margin-right: 10px;
}
.img_right {
	float: right;
	width: 32%;
	height: auto;
	margin-left: 10px;
}



/* ==============================================
This section configures the Back-To-The-Top Button ================================================ */





/* =========================================================
This section configures the links in the footer ========================================================== */



/* ========================================================
		1.5 This section configures the ANIMATED LOGO on index page 
========================================================= */

.img_logo {
	width: 100%;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
}

  #stage {
    margin: 1em auto;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
  }
  
  .spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-duration: 8s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-duration: 8s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .spinner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  
  /* WebKit and Opera browsers */
  @-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
  }

  /* all other browsers */
  @keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }

	
	
	
	
/* ========================================================
 		1.6 This section is for the Drop-Down Menu (Navigation Bar) in all page   ========================================================= */
 
 #ddmenu li div.column.mayHide {
        display: none;
    }

    /*override the original settings*/
    #ddmenu ul {
        width: 250px;
		float: left;
        display: none;
        border-radius: 0;
		position:absolute;
    }

    #ddmenu li {
        position: relative;
        display: block;
        font-size: 20px;
        text-align: left;
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }

    #ddmenu li.full-width {
        position: relative;
    }

    #ddmenu li .dropdown {
		position: relative;
        *top: auto; /*for IE7*/
        border: none;
        border-radius: 0;
        box-shadow: none;
        text-align: left;
        background-color: #FFF;
    }

    #ddmenu .offset300 {
        left: 0;
    }

    #ddmenu li.full-width div.dropdown {
        width: auto;
    }

    #ddmenu .dd-inner {
        margin:0;
        background:none;
        text-align:left;
    }

    /*turn each column to list vertically instead of horizontally */
    #ddmenu li div.column {
        width:auto;
        padding:0;
        border:none;
        display:block;
    }

    /*move the arrow icon to right*/
    #ddmenu i.caret {
        position:absolute;
        left:auto;
        right:14px;
        top: 22px;
        border-width:5px;
    }



/* All the following are for the div.menu-icon (pure CSS) */
    #ddmenu div.menu-icon {
        font-size: 32px; /*icon size*/
        display: block;
        position: relative;
        width: 40px;
        height: 36px;
        text-align: center;
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        background-color: #EEE;
        border-radius: 3px;
        margin-bottom:6px;	
        /*align the icon to the left*/
        margin-left: 12px;
        margin-right: auto;
    }

    #ddmenu div.menu-icon::before {
        content: "";
        position: absolute;
        top: 0.25em;
        left: 4px;
        width: 1em;
        height: 0.125em;
        border-top: 0.375em double #b40c00;
        border-bottom: 0.125em solid #b40c00;
        box-sizing: content-box;
    }

    #ddmenu div.menu-icon-active {
        background-color: #b40c00;
    }

    #ddmenu div.menu-icon-active::before {
        border-color: #e86600;
    }



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
				Design Page 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* ==============================================
 This section is for the ImageMap in the "designs" page   ====================================================  */

.main-content-area{
background-color:#F6F6F6;
min-height: 200px;
width:96%;
margin: 0 2% 1% 2%;
position: relative;
}
 
.main-content-area img{
width: 100%;
height: auto;
}

img.shed {
position: relative;
}


i.inclusions_tank{
color: yellow;
font-size: 40px;
position: absolute;
top: 50%;
left: 64%;
cursor: pointer;
}

i.inclusions_tank p{
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 250%;
padding: 12px;
transition: opacity 1s linear, left 1s linear;
}

i.inclusions_tank:hover p{
opacity: 1;
top: -50px;
left:-45px;
}



i.landscaping{
color: yellow;
font-size: 40px;
position: absolute;
top: 78%;
left: 8%;
cursor: pointer;
}

i.landscaping p{
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 280%;
padding: 8px;
transition: opacity 1s linear, left 1s linear;
}

i.landscaping:hover p{
opacity: 1;
top: -72px;
left:-42px;
z-index: 5;
}



i.products_fridge{
color: yellow;
font-size: 40px;
position: absolute;
top: 67%;
left: 36%;
cursor: pointer;
}

i.products_fridge p{
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 250%;
padding: 12px;
transition: opacity 1s linear, left 1s linear;
}

i.products_fridge:hover p{
opacity: 1;
top: -56px;
left:-30px;
}



i.fixtures_door{
color: yellow;
font-size: 40px;
position: absolute;
top: 61%;
left: 24%;
cursor: pointer;
}

i.fixtures_door p{
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 250%;
padding: 12px;
transition: opacity 1s linear, left 1s linear;
}

i.fixtures_door:hover p{
opacity: 1;
top: -98px;
left:-45px;
}



i.features_fireplace{
color: yellow;
font-size: 40px;
position: absolute;
top: 40%;
left: 87%;
cursor: pointer;
}

i.features_fireplace p{
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 250%;
padding: 12px;
transition: opacity 1s linear, left 1s linear;
}

i.features_fireplace:hover p{
opacity: 1;
top: -50px;
left:-65px;
}

 
/* ====================================================
 This section is for the pop-up enlarged views of the thumb-nails in the "designs" page   
 =================================================== */

#design_thumbs {
	width: 95%;
	/*height: auto;*/
	margin-right: auto;
	margin-left: auto;
}

	ul.enlarge{
		list-style-type:none; /*remove the bullet point*/
		margin-left: 1%;
    }
    ul.enlarge li{
		display:inline-block; /*places the images in a line*/
		font-size: 11px;
		text-align: center;
		position: relative;
		z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
    	margin:10px 4% 2px -2%; /*margin:10px 40px 0 20px;*/

    }
    ul.enlarge img{
		background-color:#eae9d4;
		padding: 6px;
		-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
		-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
		box-shadow: 0 0 6px rgba(132, 132, 132, .75);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
    }
	
	ul.enlarge img.sm {
		display:inline-block;
		width: 110px;
		height: auto;
	}
	ul.enlarge img.lg {
		display:inline-block;
		width: 400px;
		height: auto;
	}
	
    ul.enlarge span{
		position:absolute;
		left: -9999px;
		background-color:#eae9d4;
		padding: 10px;
		font-family: 'Droid Sans', sans-serif;
		font-size:.9em;
		text-align: center;
		color: #495a62;
		-webkit-box-shadow: 0 0 20px rgba(0,0,0, .75);
		-moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
		box-shadow: 0 0 20px rgba(0,0,0, .75);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius:8px;
    }
    ul.enlarge li:hover{
		z-index: 50;
		cursor:pointer;
    }
    ul.enlarge span img{
		padding:2px;
		background:#ccc;
    }
    ul.enlarge li:hover span{
		top: -198px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
		left: -25px; /*distance from the left of the thumbnail to the left of the popup image*/
    }
    ul.enlarge li:hover:nth-child(2) span{
    	left: -165px;
    }
    ul.enlarge li:hover:nth-child(3) span{
    	left: -303px;
    }
    ul.enlarge li:hover:nth-child(4) span{
		top: -314px;
    	left: -25px;
    }
    ul.enlarge li:hover:nth-child(5) span{
		top: -314px;
    	left: -165px;
    }
	ul.enlarge li:hover:nth-child(6) span{
		top: -314px;
    	left: -303px;
    }
    /**Below, see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
    ul.enlarge img, ul.enlarge span{
    	behavior: url(pie/PIE.htc);
    }


.img_popup {
	width: 60%;
	height: auto;
}

enlarge.popup_sm {
	width: 60%;
	height: auto;
}




/* ==============================================
This section configures the various divs on the individual house design pages ================================================ */

#plan {
	width: 40%;
	float: left;
	margin-right: 5px;
	margin-top: -25px;
	margin-left: 50px;
}

#dimensions {
	width: 40%;
	font-size: 90%;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 8%;
	float:left;
	/*float: right;*/
}
ul.dimentions {
	list-style-type:none; /*remove the bullet point*/
	margin-left:-20px;
	text-align:left;
	/*padding-left: 22px;
	padding-right: 2px;*/
    }

#features {
	width: 45%;
	font-size: 90%;
	padding-left: 10px;
	float: left;
	clear:both;
}

#inclusions {
	width: 45%;
	font-size: 90%;
	padding-left: 10px;
	float: right;
}




/* ===================================================
The following section is applied to the "exploded" views of architectual drawings on each individual desin page 
====================================================== */

ul.exploded{
		list-style-type:none; /*remove the bullet point*/
		margin-left:0;
    }
    ul.exploded li{
		display:inline-block; /*places the images in a line*/
		font-size: 11px;
		text-align: center;
		position: relative;
		z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
    	margin:20px 25px 2px -25px; /*margin:10px 40px 0 20px;*/
    }
    ul.exploded img{
		background-color:#eae9d4;
		padding: 6px;
		-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
		-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
		box-shadow: 0 0 6px rgba(132, 132, 132, .75);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
    }
	
	ul.exploded img.sm {
		display:inline-block;
		width: 131px;
		height: auto;
	}
	ul.exploded img.lg {
		display:inline-block;
		width: 520px;
		height: auto;
	}
	
    ul.exploded span{
		position:absolute;
		left: -9999px;
		background-color:#eae9d4;
		padding: 10px;
		font-family: 'Droid Sans', sans-serif;
		font-size:.9em;
		text-align: center;
		color: #495a62;
		-webkit-box-shadow: 0 0 20px rgba(0,0,0, .75);
		-moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
		box-shadow: 0 0 20px rgba(0,0,0, .75);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius:8px;
    }
    ul.exploded li:hover{
		z-index: 50;
		cursor:pointer;
    }
    ul.exploded span img{
		padding:2px;
		background:#ccc;
    }
    ul.exploded li:hover span{
		top: -250px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
		left: -4px; /*distance from the left of the thumbnail to the left of the popup image*/
    }
    
    /**Below, see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
    ul.enlarge img, ul.enlarge span{
    	behavior: url(pie/PIE.htc);
    }


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
					Process Page 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* ===================================================
The following section is applied to the Slideshow on the Process page 
====================================================== */

		/* NOTE: Same as the desktop resolution */
		
		
		
		
		
		
/* ===================================================
The following section is applied to the Tabbed-Textbox on the Process page 
====================================================== */		


#container {
	max-height: 500px;
}

#tabs {
	width: 100%;
	height: 480px;
	margin: 20px 0;
	background: #e9e5dc;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 6px #333;
	-moz-border-radius:7px;
    -webkit-border-radius:7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
#tab-1, #tab-2, #tab-3, #tab-4, #tab-5, #tab-6, #tab-7, #tab-8, #tab-9, #tab-10, #tab-11, #tab-12 {
	min-height: 290px;
	max-height: 290px;
	padding-top: 5px;
	overflow-y: scroll;
	overflow-x: no-display;
	border-top:solid;
	border-width: 3px;
	border-color: #000;
	font-size: 11pt;

}
#tabs ul {
	float: left;
	background: #e9e5dc;
	width: 98%;
	padding-top: 4px;
	text-align:center;
	list-style-type: none;
	align-items:center;
}
#tabs li {
	margin-left: 1.5%;
	list-style: none;
	display:inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #e9e5dc;
	width: 14%;
}
* html #tabs li {
	display: inline;
}
#tabs li, #tabs li a {
	float: left;
	
}
#tabs ul li.active {
	height: 26%;
	border-top:3px #b40c00 solid;
	background-color: #eee;
	-moz-box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 6px #000;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#tabs ul li.active a {
	color: #b40c00;
}
#tabs div {
	background-color:#e9e5dc;
	clear: both;
	padding: 15px;
	min-height: 200px;
}
#tabs div h3 {
	margin-bottom: 12px;
}
#tabs div p {
	line-height: 150%;
	font-size: 11pt;
}
#tabs div p.indents{
	line-height: 150%;
	font-size: 11pt;
	margin-left: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
}
#tabs ul li a {
	text-decoration: none;
	padding: 5px;
	color: #000;
	font-weight: bold;
	font-size: 95%;

}
/*
.thumbs {
	float:left;
	border:#000 solid 1px;
	margin-bottom:20px;
	margin-right:20px;
}

pre {
	font-family:inherit;
	font-size: 11pt;
	line-height: 130%;
	padding-top: 2%;
}
*/
.line_gap {
	line-height: 12px;
}
.row1 {
	width: 100%;
	height: auto;
	min-height: 8%;
	padding-left: 1%;
	padding-right: 1%;
	-moz-border-radius:7px;
    -webkit-border-radius:7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.row2 {
	width: 100%;
	height: auto;
	min-height: 8%;
	padding-left: 1%;
	padding-right: 1%;
}



/* >>>>>>>>>>>>>> Contact Page <<<<<<<<<<<<<<<<< */

/* ================================================== 
This section is for the contact details in the "contact" page   
===================================================== */

/* ================================================== 
This section is for the contact details in the "contact" page   
===================================================== */

#contact-form {
    background-color:#e9e5dc;
    width: 92%;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:20px;
	float:left;
	margin-left:10px;
    border: 3px #e86600;
	border-top-style: solid ;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
 
#contact-form h1 {
    font-size:30px;
}

.contact_form_h2 {
    margin-bottom:11px;
    font-style:italic;
    font-weight:normal;
}

.cont_box {
	width: 100%;
	height: 240px;
	margin: 0 0 -5% 1%;
}
.cont_icons {
	width: 3%;
	height: auto;
	padding: 0 2%;
	float: left;
	clear: both;
	line-height: 135%;
}
.cont_details {
	width: 47%;
	height: auto;
	padding-left: 3%;
	float: left;
}
p.details {
	font-size:14px;
	line-height: 156%;
}
.hours {
	width: 38%;
	height: auto;
	padding-left:5%;
	float: left;
}



/* ====================================================
 This section is for the social media bar/buttons in the "contact" page   
 =================================================== */
 
 @import url(http://fonts.googleapis.com/css?family=Lato);


p > a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}


._12 {
  font-size: 1.2em;
}

._14 {
  font-size: 1.4em;
}

ul {
  padding: 0;
  list-style: none;
}

.fr-social-icons {
  width: 92%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom:20px;
  float:left;
  margin: 0px 10px 10px 10px;
  border: 3px #e86600;
  border-top-style: none ;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  display: block;

  background-color:#e9e5dc;
}

.social-icon {
  color: #fff;
}

ul.social-icons {
  margin-top: 10px;
}

li img{
	width: 15%;
	margin-left: 0.5%;
}

li img:hover{
	box-shadow: 2px 2px 7px #b40c00;
}

.social-icons li {
  vertical-align: top;
  display: inline;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-facebook {
  padding: 10px 14px 7px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-twitter {
  padding: 10px 10px 7px 10px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-twitter:hover {
  background-color: #00aced;
  box-shadow: 2px 2px 2px red;
}

.fa-rss {
  padding: 10px 12px 7px 12px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-rss:hover {
  background-color: #eb8231;
}

.fa-youtube {
  padding: 10px 12px 7px 11px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-youtube:hover {
  background-color: #e64a41;
}

.fa-linkedin {
  padding: 10px 11px 8px 11px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-linkedin:hover {
  background-color: #0073a4;
  box-shadow: 2px 2px 2px red;
}

.fa-google-plus {
  padding: 10px 10px 7px 10px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-google-plus:hover {
  background-color: #e25714;
}


 /* ====================================================
 This section formats the GoogleMap feature in the "contact" page   
 =================================================== */
 
 .gmap {
	border-style: solid;
	border-width: 10px;
	border-color: #000000;
}

/* CSS for the GoogleMaps button */
#gmap_canvas {
	width: 92%;
	height:400px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:20px;
	float:left;
	margin: -20px 10px 10px 10px;
	z-index: 5;
	overflow:hidden;
	border: 3px #e86600;
	border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 15px;
}

 
}







@media (max-width: 480px){
	
/*  
>>>>  TABLE OF CONTENT  <<<<

1. General Layout
2. General text/fonts and images
3. Back-To-The-Top Button 
4. Footer links
5. Drop-Down Menu (Navigation Bar)
6. Design Page 
	6.1 ImageMap
	6.2 Pop-up Thumb-nails
	6.3 Individual house layout
	6.4 "Exploded" views of architectural drawings
7. Process Page
	7.1 Slideshow
	7.2 Tabbed textbox
8 Contact Page
	8.1 Contact details layout
	8.2 GoogleMaps

*/
	
/*  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
This section configures the general layout of the majority of the pages 
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#wrapper {
	width: 100%;
	margin-top: 10px;
	height: auto;
	font-family: Verdana, Arial, helvetica;
	background-color:#dfdfdf;
	}


#leftHeader {
	display: none;
	width: 100%;
	background-color: #f6f6f6;
	margin-right: 5px;
	margin-bottom: 10px;
	padding-left: 5px;
	background-image: url(../images/logo/logo_mobile.png);
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
}
#leftHeaderSpinnerMon{
	display: none;
	width: 100%;
	height: 140px;
	float: left;
	background-color: #f6f6f6;
	margin-right: 0.4%;
	margin-bottom: 2px;
	padding: 0px;
}
#leftHeaderSpinnerTab {
	display: none;
	width: 100%;
	height: 140px;
	float: left;
	background-color: #f6f6f6;
	margin-right: 0.4%;
	margin-bottom: 2px;
	padding: 0px;
}
#leftHeaderSpinnerMobile{
	display: block;
	width: 100%;
	height: 140px;
	float: left;
	background-color: #f6f6f6;
	margin-right: 0.4%;
	margin-bottom: 2px;
	padding: 0px;
}
#rightHeader {
	display: none;
	visibility: hidden;
}

/*
#navigation {
		display: none;
	visibility: hidden;
}
*/

#main {
	width: 100%;
	height: auto;
	background-color: #f6f6f6;
	margin-top: 5px;
	margin-bottom: 7px;
	padding: 5px;
	overflow-y: no-display;
	overflow-x: no-display;
}

#soc_media {
	width: 95%;
	height: auto;
	border: 1px red solid;
}

#sidebar {
	display: none;
	visibility:hidden;
}

#sidebar_process_page {
	display: none;
	visibility: hidden;
}
	
#footer {
	width: 100%;
	clear: both;
	background-color: #f6f6f6;
	font-size:10px;
	margin-top: 10px;
	padding: 5px;
	text-align: center;
}

	

/* ==================================================
This section configures all general texts/fonts and images thoughout the site
=====================================================*/

/* Positions images - left & right justified - in main */
.img_left {
	float: left;
	width: 28%;
	height: auto;
	margin-top: 5px;
	margin-right: 5px;
}
.img_right {
	float: right;
	width: 28%;
	height: auto;
	margin-left: 5px;
}

.marquee {
	height:20px;
}
/* Formats text/fonts */
p {
	text-align: left;
	font-size: 10pt;
	font-family:Verdana, Arial, helvetica, san serif;
	color: #000000;
}
.h1 {
	text-align: left;
	font-style: strong;
	font-size: 16pt;
	font-weight: 800;
	text-decoration: underline;
	letter-spacing: -2px;
	color: #b40c00;
}
.h2 {
	text-align: left;
	font-size: 14pt;
	font-weight: 700;
	color: #b40c00;
}

.h3 {
	text-align: left;
	font-size: 10pt;
	font-weight: 600;
	color: #e86600;
}
.h4 {
	font-size: 7pt;
}
.h5 {
	text-align: left;
	font-size: 12pt;
	font-weight: 500;
	color: #000000;
}
.c2 {
	text-align: center;
}

p.questions {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 13px;
	font-weight: 700;
	font-style: italic;
	/*text-indent: 50px;*/
}
.faqquestions {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 13px;
	font-weight: 700;
	font-style: italic;
	color: #e86600;
}
.statement {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 400;
	font-style: italic;
	padding-left: 15px;
	padding-right: 30px;
	text-align: justify;
}
.txtindent {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 400;
	padding-left: 15px;
	text-align: justify;
}
p.cl {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 400;
	color: #e86600;
}
.clbold {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 500;
	color: #e86600;
}
.bo {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 600;
}

/* Indents and justifies unordered-list for Value Statements */

ul.our_processes {
	font-size: 10pt;
}


ul.valu_ullist {
	colour: red;
	margin-left: 25px;
	margin-bottom: 25px;
	list-style-position: outside;
	text-align: justify;
}
li.valu_lilist{
    margin-top: 4px;
	margin-right: 15px;
	font-size: 12px;
}



/* ==============================================
This section configures the Back-To-The-Top Button ================================================ */




/* ========================================================
		1.5 This section configures the ANIMATED LOGO on index page 
========================================================= */


.img_logo_mobile {
	width: 90%;
	height: 95%;
	margin-left: 5%;
}
 #stage {
    margin: 1em auto;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
  }
  
  .spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-duration: 8s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-duration: 8s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .spinner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  
  /* WebKit and Opera browsers */
  
  @-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
  }

  /* all other browsers */
  @keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }


/* ==============================================
 This section is for the Drop-Down Menu (Navigation Bar) in all page   ====================================================  */
 
     #ddmenu li div.column.mayHide {
        display: none;
    }

    /*override the original settings*/
    #ddmenu ul {
        width: 250px;
        display: none;
        border-radius: 0;
		position:absolute;
    }

    #ddmenu li {
        position: relative;
        display: block;
        font-size: 20px;
        text-align: left;
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }

    #ddmenu li.full-width {
        position: relative;
    }

    #ddmenu li .dropdown {
        position: relative;
        *top: auto; /*for IE7*/
        border: none;
        border-radius: 0;
        box-shadow: none;
        text-align: left;
        background-color: #FFF;
    }

    #ddmenu .offset300 {
        left: 0;
    }

    #ddmenu li.full-width div.dropdown {
        width: auto;
    }

    #ddmenu .dd-inner {
        margin:0;
        background:none;
        text-align:left;
    }

    /*turn each column to list vertically instead of horizontally */
    #ddmenu li div.column {
        width:auto;
        padding:0;
        border:none;
        display:block;
    }

    /*move the arrow icon to right*/
    #ddmenu i.caret {
        position:absolute;
        left:auto;
        right:14px;
        top: 22px;
        border-width:5px;
    }


    /* All the following are for the div.menu-icon (pure CSS) */
    #ddmenu div.menu-icon {
        font-size: 32px; /*icon size*/
        display: block;
        position: relative;
        width: 40px;
        height: 36px;
        text-align: center;
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        background-color: #EEE;
        border-radius: 3px;

        margin-bottom:6px;	
        /*align the icon to the left*/
        margin-left: 12px;
        margin-right: auto;
    }

    #ddmenu div.menu-icon::before {
        content: "";
        position: absolute;
        top: 0.25em;
        left: 4px;
        width: 1em;
        height: 0.125em;
        border-top: 0.375em double #b40c00;
        border-bottom: 0.125em solid #b40c00;
        box-sizing: content-box;
    }

    #ddmenu div.menu-icon-active {
        background-color: #b40c00;
    }

    #ddmenu div.menu-icon-active::before {
        border-color: #e86600;
    }

/* >>>>>>>>>>> Design Page <<<<<<<<<<<<<< */

 /* ==============================================
 This section is for the ImageMap in the "designs" page   ====================================================  */
 
 .main-content-area img{
width: 100%;
height: auto;
}

img.shed {
position: relative;
}


i.inclusions_tank{
color: yellow;
font-size: 40px;
position: absolute;
top: 50%;
left: 64%;
cursor: pointer;
}

i.inclusions_tank p{
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 250%;
padding: 12px;
transition: opacity 1s linear, left 1s linear;
}

i.inclusions_tank:hover p{
opacity: 1;
top: -50px;
left:-45px;
}



i.landscaping{
color: yellow;
font-size: 40px;
position: absolute;
top: 78%;
left: 8%;
cursor: pointer;
}

i.landscaping p{
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 280%;
padding: 8px;
transition: opacity 1s linear, left 1s linear;
}

i.landscaping:hover p{
opacity: 1;
top: -72px;
left:-42px;
z-index: 5;
}



i.products_fridge{
color: yellow;
font-size: 40px;
position: absolute;
top: 67%;
left: 36%;
cursor: pointer;
}

i.products_fridge p{
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 250%;
padding: 12px;
transition: opacity 1s linear, left 1s linear;
}

i.products_fridge:hover p{
opacity: 1;
top: -56px;
left:-30px;
}



i.fixtures_door{
color: yellow;
font-size: 40px;
position: absolute;
top: 61%;
left: 24%;
cursor: pointer;
}

i.fixtures_door p{
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 250%;
padding: 12px;
transition: opacity 1s linear, left 1s linear;
}

i.fixtures_door:hover p{
opacity: 1;
top: -98px;
left:-45px;
}



i.features_fireplace{
color: yellow;
font-size: 40px;
position: absolute;
top: 40%;
left: 87%;
cursor: pointer;
}

i.features_fireplace p{
font-size: 12pt;
background-color:#F6F6F6;
color: black;
border-radius: 10px;
border: 2px #b40c00 solid;
opacity: 0;
position: absolute;
top: -15px;
left: -1000px;
width: 250%;
padding: 12px;
transition: opacity 1s linear, left 1s linear;
}

i.features_fireplace:hover p{
opacity: 1;
top: -50px;
left:-65px;
}

 
 
 
/* ====================================================
 This section is for the pop-up enlarged views of the thumb-nails in the "designs" page   
 =================================================== */

#design_thumbs {
	width: 65%;
	/*height: auto;*/
	margin-right: auto;
	margin-left: auto;
}

ul.enlarge{
	list-style-type:none; /*remove the bullet point*/
	margin-left: 0;
	width: 95%;
}
ul.enlarge li{
	display:inline-block; /*places the images in a line*/
	font-size: 11px;
	text-align: center;
	position: relative;
	z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
	margin:10px 4% 2px -2%; /*margin:10px 40px 0 20px;*/

}	

ul.enlarge img.sm {
		display:inline-block;
		width: 100px;
		height: auto;
}
ul.enlarge img.lg {
	display:inline-block;
	width: 250px;
	height: auto;
}

ul.enlarge li:hover span{
		top: -148px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
		left: -28px; /*distance from the left of the thumbnail to the left of the popup image*/
}

ul.enlarge li:hover:nth-child(2) span{
	left: -153px;
}
ul.enlarge li:hover:nth-child(3) span{
	top: -255px;
	left: -28px;
}
ul.enlarge li:hover:nth-child(4) span{
	top: -255px;
	left: -153px;
}
ul.enlarge li:hover:nth-child(5) span{
	top: -363px;
	left: -28px;
}
ul.enlarge li:hover:nth-child(6) span{
	top: -363px;
	left: -153px;
}
/**Below, see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
ul.enlarge img, ul.enlarge span{
	behavior: url(pie/PIE.htc);
}

/* ==============================================
This section configures the various divs on the individual house design pages ================================================ */


#plan {
	width: 75%;
	height: auto;
	/*float: left;*/
	margin-left: 14%;
	margin-top: -25px
}

#dimensions {
	width: 60%;
	font-size: 90%;
	padding-left: 10px;
	padding-right: 10px;
	float:left;
	margin-left: 20%;
}
ul.dimentions {
	list-style-type:none; /*remove the bullet point*/
	margin-left:-20px;
	text-align:left;
	margin-left: 5%;
	/*padding-left: 22px;
	padding-right: 2px;*/
    }


#features {
	width: 80%;
	height: auto;
	padding-left: 0px;
	margin-left: 22%;
	float: left;
	clear:left;
	font-size: 14px;
}
#inclusions {
	width: 100%;
	height: auto;
	padding-left: 0px;
	margin-left: 22%;
	float: left;
	clear:left;
	font-size: 14px;
}


/* ===================================================
The following section is applied to the "exploded" views of architectual drawings on each individual desin page 
====================================================== */

ul.exploded{
		list-style-type:none; /*remove the bullet point*/
		margin-left:0;
    }
    ul.exploded li{
		display:inline-block; /*places the images in a line*/
		font-size: 11px;
		text-align: center;
		position: relative;
		z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
    	margin:20px 25px 2px -25px; /*margin:10px 40px 0 20px;*/
    }
    ul.exploded img{
		background-color:#eae9d4;
		padding: 6px;
		-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
		-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
		box-shadow: 0 0 6px rgba(132, 132, 132, .75);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
    }
	
	ul.exploded img.sm {
		display:inline-block;
		width: 131px;
		height: auto;
	}
	ul.exploded img.lg {
		display:inline-block;
		width: 380px;
		height: auto;
	}
	
    ul.exploded span{
		position:absolute;
		left: -9999px;
		background-color:#eae9d4;
		padding: 10px;
		font-family: 'Droid Sans', sans-serif;
		font-size:.9em;
		text-align: center;
		color: #495a62;
		-webkit-box-shadow: 0 0 20px rgba(0,0,0, .75);
		-moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
		box-shadow: 0 0 20px rgba(0,0,0, .75);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius:8px;
    }
    ul.exploded li:hover{
		z-index: 50;
		cursor:pointer;
    }
    ul.exploded span img{
		padding:2px;
		background:#ccc;
    }
    ul.exploded li:hover span{
		top: -250px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
		left: -4px; /*distance from the left of the thumbnail to the left of the popup image*/
    }
    
    /**Below, see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
    ul.enlarge img, ul.enlarge span{
    	behavior: url(pie/PIE.htc);
    }




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
					Process Page 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* ===================================================
The following section is applied to the Slideshow on the Process page 
====================================================== */

		/* NOTE: Same as the desktop resolution */




/* ===================================================
The following section is applied to the Tabbed-Textbox on the Process page 
====================================================== */		

#container {
	max-height: 450px;
}

#tabs {
	width: 100%;
	height: 425px;
	margin: 20px 0;
	background: #e9e5dc;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 6px #333;
	-moz-border-radius:7px;
    -webkit-border-radius:7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
#tab-1, #tab-2, #tab-3, #tab-4, #tab-5, #tab-6, #tab-7, #tab-8, #tab-9, #tab-10, #tab-11, #tab-12 {
	min-height: 290px;
	max-height: 290px;
	padding-top: 5px;
	overflow-y: scroll;
	overflow-x: no-display;
	border-top:solid;
	border-width: 3px;
	border-color: #000;
	font-size: 12pt;

}
#tabs ul {

	background: #e9e5dc;
	width: 90%;
	padding-top: 4px;
	text-align:center;
	list-style-type: none;
	align-items:center;
}
#tabs li {
	margin-left: 2%;
	list-style: none;
	display:inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #e9e5dc;
	width: 14%;
}
* html #tabs li {
	display: inline;
}
#tabs li, #tabs li a {
	width: 12.0%;
	font-size:10px;	
}
#tabs ul li.active {
	height: 26%;
	border-top:3px #b40c00 solid;
	background-color: #eee;
	-moz-box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 6px #000;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#tabs ul li.active a {
	color: #b40c00;
}
#tabs div {
	background-color:#e9e5dc;
	clear: both;
	padding: 15px;
	min-height: 200px;
}
#tabs div h3 {
	margin-bottom: 12px;
}
#tabs div p {
	line-height: 150%;
	font-size: 10pt;
}
#tabs div p.indents{
	line-height: 150%;
	font-size: 10pt;
	margin-left: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
}
#tabs ul li a {
	text-decoration: none;
	padding: 5px;
	color: #000;
	font-weight: bold;
	font-size: 78%;
}
/*
.thumbs {
	float:left;
	border:#000 solid 1px;
	margin-bottom:20px;
	margin-right:20px;
}

pre {
	font-family:inherit;
	font-size: 9pt;
	line-height: 130%;
	padding-top: 2%;
}
*/
.line_gap {
	line-height: 12px;
}
.row1 {
	width: 100%;
	height: auto;
	min-height: 8%;
	padding-left: 5%;
	padding-right: 1%;
	-moz-border-radius:7px;
    -webkit-border-radius:7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.row2 {
	width: 100%;
	height: auto;
	min-height: 8%;
	padding-left: 5%;
	padding-right: 1%;
}




/* >>>>>>>>>>>>>> Contact Page <<<<<<<<<<<<<<<<< */

/* ================================================== 
This section is for the contact details in the "contact" page
===================================================== */

#contact-form {
    background-color:#e9e5dc;
    width: 92%;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:20px;

	margin-left:10px;
    border: 3px #e86600;
	border-top-style: solid ;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
 
#contact-form h1 {
    font-size:30px;
}

.contact_form_h2 { 
    margin-bottom:11px;
    font-style:italic;
    font-weight:normal;
}

.cont_box {
	width: 80%;
	height: 240px;
	margin: 1% 0 -5% 5%;
}
.cont_icons {
	width: 5%;
	height: auto;
	padding: 0 5%;
	line-height: 135%;
}
.cont_details {
	width: 80%;
	height: auto;
	padding-left: 3%;

}
p.details {
	font-size:13px;
	line-height: 156%;
}
.hours {
	width: 80%;
	height: auto;
	padding-left:5%;
}



/* ====================================================
 This section is for the social media bar/buttons in the "contact" page   
 =================================================== */
 
 @import url(http://fonts.googleapis.com/css?family=Lato);


p > a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}


._12 {
  font-size: 1.2em;
}

._14 {
  font-size: 1.4em;
}

ul {
  padding: 0;
  list-style: none;
}

.fr-social-icons {
  width: 496px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom:20px;
  float:left;
  margin: 0px 10px 10px 10px;
  border: 3px #e86600;
  border-top-style: none ;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  display: block;

  background-color:#e9e5dc;
}

.social-icon {
  color: #fff;
}

ul.social-icons {
  margin-top: 10px;
}

li img{
	width: 15%;
	margin-left: 0.5%;
}

li img:hover{
	box-shadow: 2px 2px 7px #b40c00;
}

.social-icons li {
  vertical-align: top;
  display: inline;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-facebook {
  padding: 10px 14px 7px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-twitter {
  padding: 10px 10px 7px 10px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-twitter:hover {
  background-color: #00aced;
  box-shadow: 2px 2px 2px red;
}

.fa-rss {
  padding: 10px 12px 7px 12px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-rss:hover {
  background-color: #eb8231;
}

.fa-youtube {
  padding: 10px 12px 7px 11px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-youtube:hover {
  background-color: #e64a41;
}

.fa-linkedin {
  padding: 10px 11px 8px 11px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-linkedin:hover {
  background-color: #0073a4;
  box-shadow: 2px 2px 2px red;
}

.fa-google-plus {
  padding: 10px 10px 7px 10px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-google-plus:hover {
  background-color: #e25714;
}

 
 /* ====================================================
 This section formats the GoogleMap feature in the "contact" page   
 =================================================== */
  .gmap {
	border-style: solid;
	border-width: 10px;
	border-color: #000000;
}

/* CSS for the GoogleMaps button */
#gmap_canvas {
	width: 92%;
	height:400px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:20px;
	float:left;
	margin: -20px 10px 10px 10px;
	z-index: 5;
	overflow:hidden;
	border: 3px #e86600;
	border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 15px;
}
 
 

}
	