


#designs_row1 {
	width: 580px;
	height: 150px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#designs_row1 div{
	float:left;
	border:2px solid #e86600;
}


#designs_row2 {
	width: 580px;
	height: 150px;
	margin-top: 5px;
	margin-bottom: 5px;
	clear:both;
	float:left;
}
#designs_row2 div{
	float:left;
	border:2px solid #e86600;
}

#designs_row3 {
	width: 580px;
	height: 150px;
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
	float:left;
}
#designs_row3 div{
	float:left;
	border:2px solid #e86600;
}

#des_r1_left {
	width: 275px;
	height: 150px;
	margin-right: 5px;
	margin-bottom: 5px;
}
#des_r1_right {
	width: 275px;
	margin-left: 5px;
	margin-bottom: 5px;
	height: 150px;
}


#des_r2_left {
	width: 275px;
	height: 150px;
	margin-right: 5px;
	margin-bottom: 5px;
}
#des_r2_right {
	width: 275px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 150px;
}


#des_r3_left {
	float: left;
	width: 275px;
	height: 150px;
	margin-right: 5px;
	margin-bottom: 5px;
}
#des_r3_right {
	float: right;
	width: 275px;
	height: 150px;
	margin-left: 5px;
	margin-bottom: 5px;
}

/*
.left{
    clear:both;
}
    .left div{
        float: left;
    }
#controls{
    clear: both;
}
*/